Source: kitty
Priority: optional
Maintainer: James McCoy <jamessan@debian.org>
Section: x11
Standards-Version: 4.1.4
Rules-Requires-Root: no
Homepage: https://github.com/kovidgoyal/kitty
Vcs-Git: https://salsa.debian.org/jamessan/kitty.git
Vcs-Browser: https://salsa.debian.org/jamessan/kitty
Build-Depends:
 debhelper (>= 11~),
 dh-python,
 libfontconfig1-dev,
 libfreetype6-dev,
 libgl1-mesa-dev,
 libharfbuzz-dev (>= 1.5.0),
 libpng-dev,
 libx11-xcb-dev,
 libxcursor-dev,
 libxi-dev,
 libxinerama-dev,
 libxkbcommon-x11-dev,
 libxrandr-dev,
 pkg-config,
 python3-dev (>= 3.5),
 zlib1g-dev,

Package: kitty
Architecture: any
Depends:
 kitty-terminfo,
 ${misc:Depends},
 ${python3:Depends},
 ${shlibs:Depends},
Description: fast, featureful, GPU based terminal emulator
 Kitty supports modern terminal features like: graphics, unicode,
 true-color, OpenType ligatures, mouse protocol, focus tracking, and
 bracketed paste.
 .
 Kitty has a framework for "kittens", small terminal programs that can be used
 to extend its functionality.

Package: kitty-terminfo
Architecture: all
Multi-Arch: foreign
Description: fast, featureful, GPU based terminal emulator (terminfo file)
 This package provides the xterm-kitty terminfo definition for the kitty
 terminal emulator so that it can easily be installed on remote systems.
