#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS=hardening=+all

include /usr/share/dpkg/default.mk

LDFLAGS += -Wl,--as-needed

OVERRIDE_CFLAGS = $(CFLAGS)
OVERRIDE_CPPFLAGS = $(CPPFLAGS)
OVERRIDE_LDFLAGS = $(LDFLAGS)
export OVERRIDE_CFLAGS OVERRIDE_CPPFLAGS OVERRIDE_LDFLAGS

%:
	dh $@ --with python3 --with sphinxdoc

override_dh_auto_clean:
	python3 setup.py --verbose clean

FORKME = forkme_right_darkblue_121621.png

docs/_static/$(FORKME):
	cp debian/$(FORKME) $@

override_dh_auto_build-arch: export HOME=$(CURDIR)/debian/fakehome
override_dh_auto_build-arch: MAKEFLAGS=SPHINXOPTS=-Dhtml_theme_options.github_banner=$(FORKME)
override_dh_auto_build-arch: docs/_static/$(FORKME)
	python3 setup.py --verbose linux-package

override_dh_auto_build-indep: export HOME=$(CURDIR)/debian/fakehome
override_dh_auto_build-indep: export SPHINXOPTS=-Dhtml_theme_options.github_banner=$(FORKME)
override_dh_auto_build-indep: docs/_static/$(FORKME)
	make docs

override_dh_auto_test: export HOME=$(CURDIR)/debian/fakehome
override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	mkdir -p "$(HOME)"
	env HOME="$(HOME)" python3 setup.py --verbose test
endif

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/tmp/usr
	cp -a linux-package/* $(CURDIR)/debian/tmp/usr/

override_dh_install:
	dh_install -Xlib/kitty/terminfo

override_dh_python3:
	dh_python3 --no-ext-rename

override_dh_installchangelogs:
	dh_installchangelogs CHANGELOG.rst
